extends layout

block content
  h1= title + ": " + book.title
  if bookinstances.length > 0
    p Delete all these book instances before attempting to delete this book:
    ul
      each bookinstance in bookinstances
        li
          a(href=bookinstance.url)= book.title
          |, 
          strong Imprint: 
          | #{bookinstance.imprint}
  else
    p Are you sure you want to delete this book?
    form(method="POST")
      input(type="submit", value="delete")